<a href="https://colab.research.google.com/github/niteen11/lagcc_data_analytics_micro_credential/blob/master/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [1]:
data_variables = ["Google","Meta","Apple","Amazon","Neflix"]

In [2]:
print(data_variables)

['Google', 'Meta', 'Apple', 'Amazon', 'Neflix']

## 2.	Print out those variables by using a for loop

In [3]:
for var in data_variables:
    print(var)

Google
Meta
Apple
Amazon
Neflix

## 3.	Modify your for loop to add a message to your for loop.

In [4]:
for var in data_variables:
    print(f"I believe I will join {var}.")

I believe I will join Google.
I believe I will join Meta.
I believe I will join Apple.
I believe I will join Amazon.
I believe I will join Neflix.

## 4.	Use a for loop to print even numbers from 1-20.

In [5]:
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [6]:
data_variables

['Google', 'Meta', 'Apple', 'Amazon', 'Neflix']

In [7]:
data_variables.sort()

In [8]:
data_variables

['Amazon', 'Apple', 'Google', 'Meta', 'Neflix']

## 6.	Print out the first three elements of your list.

In [9]:
data_variables[:3]

['Amazon', 'Apple', 'Google']

## 7.	Create a loop to print the last 2 elements of your list.

In [10]:
for var in data_variables[-2:]:
    print(var)

Meta
Neflix